body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    margin-bottom: 70px;
    padding-left: 135px;
    padding-right: 135px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header__logo {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__search {
  width: 33%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.search__input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #9E9C9C;
}

.header__profile {
    display: flex;
    align-items: center;
    border-left: 1px solid #EBEBF1;;
}

.profile__name {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color: #768298;
    margin-right: 10px;
    margin-left: 19px;
}

.main {
    padding-left: 135px;
    padding-right: 135px;
}

.main__title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.25rem;
    margin-bottom: 1.875rem;
}

.main__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.cards__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EBEBF1;
}

.cards__card:hover {
    cursor: pointer;
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

@media (max-width: 1200px) {
    .header, .main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .cards__card {
        margin-right: 21px;
        margin-bottom: 21px;
    }
}

@media (max-width: 768px) {
    .cards__card {
        width: 229px;
        height: 120px;
    }

    .main__title {
        font-size: 1.75rem;
    }
}

@media (max-width: 576px) {
    .main__cards {
        justify-content: center;
    }

    .cards__card {
        width: 335px;
        height: 140px;
    }
}